.itemCarrito {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:cornsilk;
  }
  
  .itemCarrito h4 {
    margin-bottom: 5px;
  }
  
  .itemCarrito p {
    margin: 5px 0;
  }
  
  .botonEliminar {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }